<div class="chat-container">
  <div class="chat-messages">


    <div class="grid gap-y-2">
<app-chat-message  text="Hagame una pregunta."></app-chat-message>


@for (message of messages(); track $index) {
  @if ( message.isGpt) {
    <app-gtp-message-orthography
    [text]="message.text"
    [errors]="message.info!.errors"
    [userScore]="message.info!.userScore"
    ></app-gtp-message-orthography>
  }@else {
    <app-my-message [text]="message.text"></app-my-message>
  }
}



@if (isLoading()) {

  <app-typing-loader></app-typing-loader>

}

</div>
  </div>

   <app-text-message-box placeholder="Escribe aqui lo que deseas" [disableCorrections]="true" (onMessage)="handleMessage($event)"></app-text-message-box>



</div>
